#ignore "scratch" directory -- proofs of concept, scraps, ipython notebook files
scratch/*
static/css/.sass-cache


#specific files to ignore in Naive Bayes version:
politwit/simplescore.py
tweets_72_28.db
