<!DOCTYPE html>
	<head>
		<title>Twitter Login Test</title>
		<meta charset="UTF-8">
		<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
	</head>
	<body>
		<h1>HELLO WORLD!</h1>
		<form role="form" action="/login" method="POST">
			<input type="submit" value="Click to login with Twitter">
		</form>

		<script>
			// $("#login").click(function(e){
			// 	e.preventDefault();
				// $.post(
				// 	"https://api.twitter.com/1.1/statuses/home_timeline.json", {},
				// 	function(response) {
				// 		console.log(response);
				// 	});
			// });
		</script>
	</body>
</html>