.xAxis path, .xAxis line, .yAxis path, .yAxis line{
    stroke: darkgray;
    stroke-width: 1px;
    fill: none;
}

text {
    font-family: helvetica, sans-serif;
    font-size: 10px;
}

.title {
    font-size: 15px;
}

/* styles for bar chart */

.bar.san-francisco {
    fill: orange;
}

.bar.new-york {
    fill: blue;
}

.bar.austin {
    fill: red;
}

.bar.portland {
    fill: green;
}

.bar.miami {
    fill: yellow;
}

.bar.boston {
    fill: purple
}

/* styles for line chart */

#linechart path {
    stroke-width: 2px;
    fill: none;
}

path.san-francisco {
    stroke: orange;
}

path.new-york {
    stroke: blue;
}

path.austin {
    stroke: red;
}

path.portland {
    stroke: green;
}

path.miami {
    stroke: yellow;
}

path.boston {
    stroke: purple;
}
