<!DOCTYPE html>
	<head>
		<title>Twitter Test</title>
		<meta charset="UTF-8">
		<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
		<link rel="stylesheet" type="text/css" href="static/bootstrap/css/bootstrap-theme.min.css">
	</head>
	<body>
		<h1>HELLO WORLD!</h1>
		<form role="form" action="/display" method="POST">
			<label for="screenname">Enter Twitter handle</label>
			<input name="screenname" type="text" placeholder="@screen_name">
			<input type="submit" value="Get visualization">
		</form>

		<div id="result">
			{% for friend in display %}
				{{ friend }}
			{% endfor %}
		</div>

		<script>
			// $("#login").click(function(e){
			// 	e.preventDefault();
				// $.post(
				// 	"https://api.twitter.com/1.1/statuses/home_timeline.json", {},
				// 	function(response) {
				// 		console.log(response);
				// 	});
			// });
		</script>
	</body>
</html>