<!DOCTYPE html>
	<head>
		<title>Political Twitter</title>
		<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0" />

    	<link rel="stylesheet" href={{ url_for("static", filename="politwit/stylesheets/app.css") }} />

		<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
		<script type="text/javascript" src={{ url_for('static', filename='d3.js') }} charset="utf-8"></script>

	</head>
	<body>
		<div class="row">
	      <div class="large-12 text-left columns">
	        <h1>Political Twitter</h1>
	      </div>
    	</div>
		<div class="row">
			<div class="large-12 columns">
	        	<div class="panel">
	        		<h5 class="text-left">Enter any existing Twitter handle</h5>
					<form role="form" action="/display" method="POST">
						<div class="small-4 columns">
							<input name="screen_name" type="text" placeholder="@">
						</div>
					</form>
					<div class="text-left">
						<a id="visualize" href="#" class="medium round button">Visualize</a><br/>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="small-12 large-12 columns" id="messages">
				<h5>Error messages will go here </h5>
				{{ message }}
			</div>
		</div>

		<div class="row">
			<div class="small-6 large-8 columns" id="viz">
				<h5>Viz will go here </h5>
			</div>

			<div class="small-4 large-4 columns">
				<div class="panel" id="detail">
					<h5> Click the bubbles to see more about your Twitter friends. </h5>
					<ul>
					</ul>
					<div id="tweets">
					</div>
				</div>
			</div>
		</div>


		<script type="text/javascript" src={{ url_for('static', filename='data_vis.js') }}></script>
		<script type="text/javascript" src={{ url_for('static', filename='app.js') }}></script>
		<script type="text/javascript" src={{ url_for('static', filename='ajax.js') }}></script>
	</body>
</html>
