@import "settings";
@import "foundation";

// font
@import url("http://fonts.googleapis.com/css?family=Montserrat");

// custom CSS

.hidden {
    display: none;
}

#instructions {

    text-align: center;
    margin-top: 1.25rem;

    p {
        display: inline-block;
        font-size: 14px;
        margin-bottom: 0;
    }

    .fi {
    font-size: 20px;
    color: $purple;
    }

}


#detail ul {

    margin-top: 150px;
    list-style-type: none;

    li:nth-child(1) {
        color: $steelblue;
        font-size: 26px;
    }

}

// d3 styling

text {
    fill: $white;
    text-anchor: middle;
}

.node:hover {
    circle {
        fill: $sandybrown;
    }

    text {
        fill: $jet;
    }
}

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";
